.wrapper {
	display: grid;
	min-height: 100vh;
	gap: 20px;
	grid-template-columns: minmax(375px 1440px);
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header"
		"body"
		"footer";
}
.header {
	grid-area: header;
}
.body {
	grid-area: body;
}
.footer {
	grid-area: footer;
}

.main {
	margin-left: 15px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	grid-template-areas:
		"top_page"
		"card";
}

.card {
	grid-area: card;
}
